.unstyled {
	text-decoration: none;
	color: #000000;
}

span {
	width: 20px;
	height: 20px;
}

.mandatory {
	text-decoration: none;
	color: red;
}

#explanation {
	display: inline;
	margin-left: 20px;
}

