<div ng-controller="ListAccountsCtrl" class="container">
	<div class="row col-md-10">
		<table class="table">
			<tr>
				<th>
					<a href="#/" ng-click="sortType = 'a.id'; sortReverse = !sortReverse">Id
						<span ng-show="sortType == 'a.id' && sortReverse" class="fa fa-caret-down"></span>
	       				<span ng-show="sortType == 'a.id' && !sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th>
					<a href="#/" ng-click="sortType = 'a.firstName'; sortReverse = !sortReverse">First Name
						<span class="mandatory">*</span>
						<span ng-show="sortType == 'a.firstName' && !sortReverse" class="fa fa-caret-down"></span>
	       				<span ng-show="sortType == 'a.firstName' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th>
					<a href="#/" ng-click="sortType = 'a.lastName'; sortReverse = !sortReverse">Last Name
						<span class="mandatory">*</span>
						<span ng-show="sortType == 'a.lastName' && !sortReverse" class="fa fa-caret-down"></span>
	       				<span ng-show="sortType == 'a.lastName' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th>
					<a href="#/" ng-click="sortType = 'a.email'; sortReverse = !sortReverse">Email
						<span class="mandatory">*</span>
						<span ng-show="sortType == 'a.email' && !sortReverse" class="fa fa-caret-down"></span>
	       				<span ng-show="sortType == 'a.email' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th class="col-xs-3">
					<a href="#/" ng-click="sortType = 'a.dateOfBirth'; sortReverse = !sortReverse">Date of Birth
						<span ng-show="sortType == 'a.dateOfBirth' && !sortReverse" class="fa fa-caret-down"></span>
	       				<span ng-show="sortType == 'a.dateOfBirth' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th></th>
			</tr>
			<tr ng-repeat="a in accounts | orderBy:sortType:sortReverse" shadow="a">
				<td>
					<span ng-bind="a.id"></span>
				</td>
				<td>
					<form name="fNameForm">
						<a href="#/">
							<span class="col-xs-8 text-info unstyled" ng-click="editingFN = true; saveTempModel(a)" 
								ng-hide="editingFN" ng-bind="a.firstName"></span> 
						</a>
						<div class="col-xs-8" ng-show="editingFN">
							<input name="fNameInput" class="form-control" ng-model="a.firstName" 
								mandatory-validate name-validate  />
						</div>
						<a href="#/">
							<span class="glyphicon glyphicon-ok text-success" 
								ng-show="editingFN && !editingRow" 
								ng-click="updateFieldIfValid(a.id, 'firstName', a.firstName, fNameForm.fNameInput.$valid); 
									editingFN = false || fNameForm.fNameInput.$invalid"></span>
						</a>
						<a href="#/">
							<span class="fa fa-ban text-danger"  
								ng-show="editingFN && !editingRow" 
								ng-click="editingFN = false; resetModel(a)"></span>
						</a>
						<div class="alert alert-warning" ng-show="editingFN &&  fNameForm.fNameInput.$invalid">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid name!
						</div>
					</form>
				</td>
				<td>
					<form name="lNameForm">
						<a href="#/">
							<span class="col-xs-8 text-info unstyled" ng-click="editingLN = true; saveTempModel(a)" 
								ng-hide="editingLN" ng-bind="a.lastName"></span> 
						</a>
						<div class="col-xs-8" ng-show="editingLN">
							<input name="lNameInput" class="form-control" ng-model="a.lastName" 
								mandatory-validate name-validate />
						</div>
						<a href="#/">
							<span class="glyphicon glyphicon-ok text-success" 
								ng-show="editingLN && !editingRow" 
								ng-click="updateFieldIfValid(a.id, 'lastName', a.lastName, lNameForm.lNameInput.$valid); 
									editingLN = false || lNameForm.lNameInput.$invalid"></span>
						</a>
						<a href="#/">
							<span class="fa fa-ban text-danger"  
								ng-show="editingLN && !editingRow" 
								ng-click="editingLN = false; resetModel(a)"></span>
						</a>
						<div class="alert alert-warning" ng-show="editingLN &&  lNameForm.lNameInput.$invalid">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid name!
						</div>
					</form>
				</td>
				<td>
					<form name="emailForm">
						<a href="#/">
							<span class="col-xs-8 text-info unstyled" ng-click="editingEmail = true; saveTempModel(a)" 
								ng-hide="editingEmail" ng-bind="a.email"></span> 
						</a>
						<div class="col-xs-8" ng-show="editingEmail">
							<input name="emailInput" type=email class="form-control" ng-model="a.email" 
									mandatory-validate novalidate/>
						</div>
						<a href="#/">
							<span type="submit" class="glyphicon glyphicon-ok text-success" 
								ng-show="editingEmail && !editingRow" 
								ng-click="updateFieldIfValid(a.id, 'email', a.email, emailForm.emailInput.$valid); 
									editingEmail = false || emailForm.emailInput.$invalid"></span>
						</a>
						<a href="#/">
							<span class="fa fa-ban text-danger"  
								ng-show="editingEmail && !editingRow" 
								ng-click="editingEmail = false; resetModel(a)"></span>
						</a>
						<div class="alert alert-warning" ng-show="editingEmail && emailForm.emailInput.$invalid">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid email!
						</div>
					</form>
				</td>
				<td>
					<form name="dateForm">
						<a href="#/">
							<span class="col-xs-8 text-info unstyled" ng-click="editingDOB = true; saveTempModel(a)" 
								ng-hide="editingDOB" ng-bind="a.dateOfBirth | date:'dd/MM/yyyy'"></span> 
						</a>
						<div class="col-xs-8" ng-show="editingDOB">
							<input name="dateInput" class="form-control" date-validate date-filter ng-model="a.dateOfBirth"  />
						</div>
						<a href="#/">
							<span class="glyphicon glyphicon-ok text-success" 
								ng-show="editingDOB && !editingRow" 
								ng-click="updateFieldIfValid(a.id, 'dateOfBirth', a.dateOfBirth, dateForm.dateInput.$valid); 
								editingDOB = false || dateForm.dateInput.$invalid"></span>
						</a>
						<a href="#/">
							<span class="fa fa-ban text-danger"  
								ng-show="editingDOB && !editingRow" 
								ng-click="editingDOB = false; resetModel(a)"></span>
						</a>
						<div class="alert alert-warning" ng-show="editingDOB && dateForm.dateInput.$invalid">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid date!
						</div>
					</form>
				</td>
				
				<td>
					<a href="#/">
						<span class="glyphicon glyphicon-ok text-success" 
							ng-show="editingRow" 
							ng-click="
								updateAccount(a, fNameForm.fNameInput.$invalid ||
									lNameForm.lNameInput.$invalid ||
									emailForm.emailInput.$invalid ||
									dateForm.dateInput.$invalid);
								editingRow = editingFN = editingLN = editingEmail = editingDOB 
									= false || fNameForm.fNameInput.$invalid || 
									lNameForm.lNameInput.$invalid || emailForm.emailInput.$invalid ||
									dateForm.dateInput.$invalid">
						</span>
					</a>
					<a href="#/">
						<span class="fa fa-ban text-danger"  
							ng-show="editingRow" 
							ng-click="editingRow = editingFN = editingLN = editingEmail = editingDOB = false;
								resetModel(a)">
						</span>
					</a>
					<a href="#/">
						<span class="glyphicon glyphicon-pencil" 
						ng-show="!editingRow"
						ng-click="editingRow = editingFN = editingLN = editingEmail = editingDOB = true;
							saveTempModel(a)
							"></span>
					</a>
					<a href="#/">
						<span class="fa fa-trash text-danger" ng-show="!editingRow" ng-click="deleteAccount(a.id)"></span>
					</a>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<form name="newAccFNameForm">
						<input name="newAccountFNameInput" class="form-control" ng-model="firstName" 
							name-validate mandatory-validate/>
						<div class="alert alert-warning" 
							ng-show="newAccFNameForm.newAccountFNameInput.$invalid 
								&& newAccFNameForm.newAccountFNameInput.$dirty ">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid name!
						</div>
					</form>
				</td>
				<td>
					<form name="newAccLNameForm">
						<input name="newAccountLNameInput" class="form-control" ng-model="lastName" 
							name-validate mandatory-validate/>
						<div class="alert alert-warning" 
							ng-show="newAccLNameForm.newAccountLNameInput.$invalid &&
								newAccLNameForm.newAccountLNameInput.$dirty">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid name!
					</form>
				</td>
				<td>
					<form name="newAccEmailForm">
						
						<input name="newAccountEmailInput" class="form-control" type="email" 
							mandatory-validate ng-model="email" novalidate />
						
						<div class="alert alert-warning" 
							ng-show="newAccEmailForm.newAccountEmailInput.$invalid 
								&& newAccEmailForm.newAccountEmailInput.$dirty ">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid email!
						</div>
					</form>
				</td>
				<td>
					<form name="newAccDateForm">
						<input id="newAccDate" name="newAccountDateInput" class="form-control" date-filter 
							date-validate ng-model="dateOfBirth" />
						<div class="alert alert-warning" ng-show="newAccDateForm.newAccountDateInput.$invalid">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							Please enter a valid date!
						</div>
					</form>
				</td>
				<td class="col-xs-1">
					<a href="#/">
							<span class="glyphicon glyphicon-ok text-success" 
								ng-click="createAccount(
									newAccFNameForm.newAccountFNameInput.$valid
									&& newAccLNameForm.newAccountLNameInput.$valid
									&& newAccEmailForm.newAccountEmailInput.$valid 
									&& newAccDateForm.newAccountDateInput.$valid)">
							</span>
					</a>
					<a href="#/"><span class="fa fa-undo text-danger" ng-click="clearModel()"></span></a>
				</td>
			</tr>
			
	
		</table>
	</div>
	<div id="explanation" class="text text-info">
		<span class="mandatory">*</span>
		<span>Mandatory field</span>
	</div>
</div>
